/* 
    Created on : 29-Apr-2017, 22:38:52
    Author     : Ronan
*/

/*  The majority of the CSS here was done with the help of this website
    http://livetools.uiparade.com/form-builder.html
    Accessed: 29/04/17 
*/
body {
    background-color: #a05306;
    background: -webkit-linear-gradient(top, #c16407, #d3a576) fixed;
    background-size: cover;
}

header {
    text-align: center;
    border-bottom: 1px solid #8f4a00;
    margin-bottom: 16px;
}

footer {
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    clear: both;
    margin-top: 1em;
    border-top: 2px solid black;
}

h2 {
    text-align: center;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    border-bottom: 2px solid #8f4a00;
}

.form-container {
    border: 2px solid #8f4a00;
    background: #878705;
    background: -webkit-gradient(liner, left top, left bottom, from(#d1d107), to (#878705));
    background: -webkit-linear-gradient(top, #d1d107, #878705);
    background: -moz-linear-gradient(top, #d1d107, #878705);
    background: -ms-linear-gradient(top, #d1d107, #878705);
    background: -o-linear-gradient(top, #d1d107, #878705);
    background-image: -ms-liner-gradient(top, #d1d107 0%, #878705 100%);
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    text-decoration: none;
    vertical-align: middle;
    min-width:350px;
    padding:20px;
    width:350px;
}

.form-field {
    border: 0px solid #c9b7a2;
    background: #e4d5c3;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #393732;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    padding: 8px;
    margin-bottom: 20px;
    width: 280px;
}
.form-field:focus {
    background: #fff;
    color: #725129;
}

.form-title {
    margin-right: 50px;
    margin-bottom: 10px;
    text-shadow: #8f4a00 0 1px 0;
}

.form-textarea {
    background: #e4d5c3;
    resize: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.submit-container {
    margin: 8px 0;
    text-align: right;
}

.submit-button {
    border: 0px solid #447314;
    background: #6aa436;
    background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
    background: -webkit-linear-gradient(top, #8dc059, #6aa436);
    background: -moz-linear-gradient(top, #8dc059, #6aa436);
    background: -ms-linear-gradient(top, #8dc059, #6aa436);
    background: -o-linear-gradient(top, #8dc059, #6aa436);
    background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    text-shadow: #addc7e 0 1px 0;
    color: #31540c;
    font-family: helvetica, serif;
    padding: 8.5px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}
.submit-button:hover {
    text-shadow: #132105 0 1px 0;
    background: #37541c;
    background: -webkit-gradient(linear, left top, left bottom, from(#465e2c), to(#37541c));
    background: -webkit-linear-gradient(top, #465e2c, #37541c);
    background: -moz-linear-gradient(top, #465e2c, #37541c);
    background: -ms-linear-gradient(top, #465e2c, #37541c);
    background: -o-linear-gradient(top, #465e2c, #37541c);
    background-image: -ms-linear-gradient(top, #465e2c 0%, #37541c 100%);
    color: #fff;
}
.submit-button:active {
    text-shadow: #917706 0 1px 0;
    border:  0px solid #ffffff;
    background: #a4b034;
    background: -webkit-gradient(linear, left top, left bottom, from(#dcde49), to(#37541c));
    background: -webkit-linear-gradient(top, #dcde49, #a4b034);
    background: -moz-linear-gradient(top, #dcde49, #a4b034);
    background: -ms-linear-gradient(top, #dcde49, #a4b034);
    background: -o-linear-gradient(top, #dcde49, #a4b034);
    background-image: -ms-linear-gradient(top, #dcde49 0%, #a4b034 100%);
    color: #000000;
}

.captcha-container {
    border: 2px outset #8f4a00;
    background: #b8b807;
    background: -webkit-gradient(linear, left top, left bottom, from(#b88c07), to(#b8b807));
    background: -webkit-liner-gradient(top, #b88c07, #b8b807);
    background: -moz-liner-gradient(top, #b88c07, #b8b807);
    background: -ms-liner-gradient(top, #b88c07, #b8b807);
    background: -o-liner-gradient(top, #b88c07, #b8b807);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;
    padding-bottom: 15px;
    text-align: center;
}

.blog-on-homepage {
    margin-bottom: 16px;
}

.blog-container {
    border: 2px solid #8f4a00;
    background: #a1a436;
    background: -webkit-gradient(linear, left top, left bottom, from(#a1a436), to(#c0c34a));
    background: -webkit-liner-gradient(top, #a1a436, #c0c34a);
    background: -moz-liner-gradient(top, #a1a436, #c0c34a);
    background: -ms-liner-gradient(top, #a1a436, #c0c34a);
    background: -o-liner-gradient(top, #a1a436, #c0c34a);
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    text-decoration: none;
    padding: 20px;
    font-size: 14px;
}
.blog-container:hover {
    background: #bdc041;
    background: -webkit-gradient(linear, left top, left bottom, from(#d1d37a), to(#bdc041));
    background: -webkit-liner-gradient(top, #d1d37a, #bdc041);
    background: -moz-liner-gradient(top, #d1d37a, #bdc041);
    background: -ms-liner-gradient(top, #d1d37a, #bdc041);
    background: -o-liner-gradient(top, #d1d37a, #bdc041);
}

.blog-avatar {
    width: 48px;
    height: 48px;
    border-radius: 5px;
}

.blog-username {
    position: relative;
    max-width: 200px;
    left: 16px;
    bottom: 16px;
    font-size: 20px;
}

.blog-body {
    font-size: 20px;
}

input[type="file"] {
    display: none;
}

#log {
    width: 200px;
    border: 2px inset #456a23;
    background: #6aa436;
    background: -webkit-radial-gradient(#6aa436, #6aa436, #517e29);
    background: -moz-radial-gradient(#6aa436, #6aa436, #517e29);
    background: -ms-radial-gradient(#6aa436, #6aa436, #517e29);
    background: -o-radial-gradient(#6aa436, #6aa436, #517e29);
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 16px;
    padding: 8px;
}

#log a  {
    text-decoration: none;
    border: 1px solid #447314;
    background: #6aa436;
    background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
    background: -webkit-linear-gradient(top, #8dc059, #6aa436);
    background: -moz-linear-gradient(top, #8dc059, #6aa436);
    background: -ms-linear-gradient(top, #8dc059, #6aa436);
    background: -o-linear-gradient(top, #8dc059, #6aa436);
    background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    text-shadow: #addc7e 0 1px 0;
    color: #31540c;
    padding: 6px;
}
#log a:hover {
    background: #37541c;
    background: -webkit-gradient(linear, left top, left bottom, from(#465e2c), to(#37541c));
    background: -webkit-linear-gradient(top, #465e2c, #37541c);
    background: -moz-linear-gradient(top, #465e2c, #37541c);
    background: -ms-linear-gradient(top, #465e2c, #37541c);
    background: -o-linear-gradient(top, #465e2c, #37541c);
    background-image: -ms-linear-gradient(top, #465e2c 0%, #37541c 100%);
    text-shadow: #132105 0 1px 0;
    color: #fff;
}
#log a:active {
    border:  0px solid #ffffff;
    background: #a4b034;
    background: -webkit-gradient(linear, left top, left bottom, from(#dcde49), to(#37541c));
    background: -webkit-linear-gradient(top, #dcde49, #a4b034);
    background: -moz-linear-gradient(top, #dcde49, #a4b034);
    background: -ms-linear-gradient(top, #dcde49, #a4b034);
    background: -o-linear-gradient(top, #dcde49, #a4b034);
    background-image: -ms-linear-gradient(top, #dcde49 0%, #a4b034 100%);
    text-shadow: #917706 0 1px 0;
    color: #000000;
}

#website-title {
    font-family: "Arial Black", Gadget, sans-serif;
}
#website-title a {
    text-decoration: none;
    color: #2d1700;
}
#website-title a:hover {
    color: #e4d5c3;
}

#create-post {
    text-decoration: none;
    margin: 0;
}
#create-post p {
    background: #6aa436;
    width: 300px;
    padding: 1em;
    background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
    background: -webkit-linear-gradient(top, #8dc059, #6aa436);
    background: -moz-linear-gradient(top, #8dc059, #6aa436);
    background: -ms-linear-gradient(top, #8dc059, #6aa436);
    background: -o-linear-gradient(top, #8dc059, #6aa436);
    background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    text-shadow: #addc7e 0 1px 0;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    color: #31540c;
    text-align: center;
    margin: 20px auto;
}
#create-post p:hover {
    text-shadow: #132105 0 1px 0;
    background: #37541c;
    background: -webkit-gradient(linear, left top, left bottom, from(#465e2c), to(#37541c));
    background: -webkit-linear-gradient(top, #465e2c, #37541c);
    background: -moz-linear-gradient(top, #465e2c, #37541c);
    background: -ms-linear-gradient(top, #465e2c, #37541c);
    background: -o-linear-gradient(top, #465e2c, #37541c);
    background-image: -ms-linear-gradient(top, #465e2c 0%, #37541c 100%);
    color: #fff;
}

#error-message {
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    color: #f00b00;
}
    